@use 'sass:map';
$breakpoints: (
    phone: 22.5rem,
    //360px,
    tablet: 48rem,
    //768px,
    laptop: 85.375rem,
    //1366px,
    desktop: 120rem,
    //1920px,
);

@mixin mediaQ($key) {
    $size: map-get($breakpoints, $key);

    @media (max-width: $size) {
        @content;
    }
}

body {
    width: 100%;
}

.slider_wrapper {
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    margin: auto;
    max-width: 30rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    .slider_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2rem;
        grid-column: 1/6;
        border-bottom: 1px solid #ccc;
        padding: 0 1rem;
        background: #eee;
    }
    .text_wrapper {
        padding: 1rem;
    }
    .btn {
        background: #eee;
    }
}


.button_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: #111;
    input[type="radio"] {
        position: relative;
        width: 120px;
        height: 40px;
        margin: 10px;
        outline: none;
        background: #111;
        appearance: none;
        cursor: pointer;
        border-radius: 50px;
        box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 1),
            inset -2px -2px 5px rgba(255, 255, 255, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 0 2px #1f1f1f;
        transition: 0.5s;
        &:checked {
            background: #ffae00;
            &::before {
                content: "On";
                left: 40px;
                color: #ffae00;
                display: flex;
                align-items: center;
            }
            &::after {
                left: calc(65px + 40px);
                background: #ffae00;
                box-shadow: 0 0 5px #ffae00,
                0 0 15px #ffae00;
            }
        }
        &::before {
            content: "Off";
            position: absolute;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            top: 0;
            left: 0;
            width: 80px;
            height: 40px;
            background: linear-gradient(to top, #000, #555);
            border-radius: 50px;
            color: #555;
            box-shadow: 0 0 0 1px #232323;
            transform: scale(0.98, 0.96);
            transition: 0.5s;
        }
        &::after {
            content: "";
            position: absolute;
            left: 65px;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #555;
            transition: 0.5s;
        }
    }
}

@mixin toggleBtn($value) {
    .button_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50vh;
    
        background: #111;
        input[type="radio"] {
            position: relative;
            width: 120px;
            height: 40px;
            margin: 10px;
            outline: none;
            background: #111;
            appearance: none;
            cursor: pointer;
            border-radius: 50px;
            box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 0 2px #1f1f1f;
            transition: 0.5s;
            &:checked {
                background: #ffae00;
                &::before {
                    content: "On";
                    left: 40px;
                    color: #ffae00;
                    display: flex;
                    align-items: center;
                }
                &::after {
                    left: calc(65px + 40px);
                    background: #ffae00;
                }
            }
            &::before {
                content: "Off";
                position: absolute;
                display: flex;
                align-items: center;
                padding-left: 1rem;
                top: 0;
                left: 0;
                width: 80px;
                height: 40px;
                background: linear-gradient(to top, #000, #555);
                border-radius: 50px;
                color: #555;
                box-shadow: 0 0 0 1px #232323;
                transform: scale(0.98, 0.96);
                transition: 0.5s;
            }
            &::after {
                content: "";
                position: absolute;
                left: 65px;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #555;
                transition: 0.5s;
            }
        }
    }
    
    
}
